<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .input-group{
        margin-top: 10px;
        }
    </style>
</head>
<body data-bs-theme="dark">
    <h2 th:text="${userId} + '\'s Profile'">Profile</h2>



    <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">
        <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="input-group">
                    <span class="input-group-text">First and last name</span>
                    <input type="text" aria-label="First name" class="form-control" th:field="*{firstName}">
                    <input type="text" aria-label="Last name" class="form-control" th:field="*{lastName}">
                </div>

                <div class="input-group">
                    <span class="input-group-text">Summary</span>
                    <textarea class="form-control" aria-label="With textarea" rows="10" th:field="*{summary}"></textarea>
                </div>

                <div class="input-group">
                    <span class="input-group-text" id="current-designation">Current Designation</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Current Designation" aria-describedby="current-designation" th:field="*{currentDesignation}" >
                </div>

                <div class="input-group">
                    <span class="input-group-text" id="email">Email @</span>
                    <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email" th:field="*{email}">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="Phone"><i class="bi bi-telephone-fill"> Phone</i></span>
                    <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="phone" th:field="*{phoneNumber}">
                </div>

                <h2 class="lead mb-3">Experiences</h2>
                <div class="table-responsive mb-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Company Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Details</th>
                            <th scope="col">Current Job</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="exp, stats : *{experienceList}">
                            <th scope="row" th:text="${stats.index + 1}">1</th>
                            <td><input th:field="*{experienceList[__${stats.index}__].company}"></td>
                            <td><input th:field="*{experienceList[__${stats.index}__].designation}"></td>
                            <td><input type="date" th:field="*{experienceList[__${stats.index}__].startDate}"></td>
                            <td><input type="date" th:field="*{experienceList[__${stats.index}__].endDate}"></td>
                            <td><textarea th:field="*{experienceList[__${stats.index}__].details}"> </textarea></td>
                            <td><input type="checkbox"  th:field="*{experienceList[__${stats.index}__].isCurrentJob}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <h2 class="lead mb-3">Education</h2>
                <div class="table-responsive mb-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">College Name</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="edu, stats : *{educationList}">
                            <th scope="row" th:text="${stats.index + 1}">1</th>
                            <td><input th:field="*{educationList[__${stats.index}__].collegeName}"></td>
                            <td><input th:field="*{educationList[__${stats.index}__].qualification}"></td>
                            <td><input type="date" th:field="*{educationList[__${stats.index}__].startDate}"></td>
                            <td><input type="date" th:field="*{educationList[__${stats.index}__].endDate}"></td>
                            <td><textarea th:field="*{educationList[__${stats.index}__].description}"> </textarea></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <h2 class="lead mb-3">Skills</h2>
                <div class="row">
                    <div class="col-4" th:each="skill, stats : *{skills}">
                        <input type="text" class="mb-2" th:field="*{skills[__${stats.index}__]}">
                    </div>
                </div>


        <div class="text-center mb-2">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            </div>
        </div>
        </div>
    </form>
</body>
</html>